* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div.margin {
    width: 100%;
}

.wrapper {
    padding: 0 100px;
}

header.head {
    width: 100%;
}

div.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    padding-top: 20px;
    justify-content: center;
}

.navbar ul {
    z-index: 100;
    position: fixed;
    display: flex;
    list-style: none;
    width: 280px;
    align-items: center;
    gap: 30px;
    padding: 20px 15px;
    border-radius: 35px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.navbar ul li:hover {
    padding: 5px;
    transition: all ease-in-out .6s;
}

.navbar li a {
    text-decoration: none;
    color: black;
}

div.logo {
    position: sticky;
    top: 0;
    height: 70px;
    display: flex;
}

div.logo img {
    border-radius: 50%;
}

div.con {
    margin-top: 30px;
    width: 100%;
    height: 350px;
    gap: 30px;
    display: flex;
    justify-content: space-between;
}

div.content h1 {
    font-size: 50px;
}

div.pic img {
    width: 370px;
    border-radius: 10%;
    transform: rotate(5deg);
}

div.links {
    padding-top: 30px;
    width: 190px;
    display: flex;
    justify-content: space-between
}

div.links img {
    width: 25px;
}

div.links img:hover {
    transition: transform .3s ease;
    transform: scale(1.2);

}

div.projects {
    height: 200px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.p .pro1 {
    width: 200px;
    border-radius: 50px;
}

.pro1 img {
    width: 30px;
}

.pro1 a {
    text-decoration: none;
    color: black;
}


.read a {
    text-decoration: none;
    color: green;
}

.social {
    width: 80%;
    height: 200px;
}

div.about {
    height: 400px;
    display: flex;
    justify-content: space-between;
}

a.button1 {
    width: 60px;
    text-decoration: none;
    padding: 16px 24px;
    border: 1px solid rgb(0, 0, 0);
    font-weight: 700;
    color: black;
    border-radius: 15px;
}

a.button1:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    transition: 0.5s ease-in;
}

div.colo {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

div.phone h1 {
    display: inline;
}

div.phone {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

div.phone p {
    font-weight: 40px;
}

div.photo img {
    width: 250px;
    border-radius: 20% 40% 10%;
}

.contact {
    background-color: beige;
    width: 100%;
    padding-top: 30px;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
}

div.gmap iframe {
    width: 250px;
    height: 150px;
}

.number {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 20px;
}

a.mail {
    text-decoration: none;
    tab-size: 20px;
    color: rgb(228, 15, 15);
}

div.navbar1 {
    width: 100%;
    height: 50px;
    display: flex;
    padding-bottom: 30px;
    justify-content: center;
    background-color: beige;
}

.navbar1 ul {
    display: flex;
    list-style: none;
    width: 280px;
    align-items: center;
    gap: 30px;
    padding: 10px 15px;
    border-radius: 35px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.navbar1 ul li a {
    text-decoration: none;
    color: black;
}

div.top {
    padding-top: 30px;
    text-align: center;
}

.defenition {
    padding-top: 30px;
    width: 100%;
    height: 720px;
}

.defenition abbr {
    text-decoration: none;
}

a.button {
    height: 100px;
    text-decoration: none;
    display: flex;
    justify-content: end;
    color: black;
    padding: 10px;
}

div.shots {
    width: 100%;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    ;
    height: 550px;
    padding-top: 50px;
}

div.shots img {
    height: 150px;
}

div.cdu {
    width: 100%;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    height: 530px;
    padding-top: 50px;
}

div.cdu img {
    height: 230px;
}

@media all and (max-width:1280px) {
    div.pic img {
        width: 320px;
    }

    div.content h1 {
        font-size: 40px;
    }

    div.photo img {
        width: 220px;
    }
}

@media all and (max-width:1024px) {

    div.pic img {
        width: 250px;
    }

    div.content h1 {
        font-size: 35px;
    }

    div.photo img {
        width: 180px;
    }
}

@media all and (max-width:768px) {
    .wrapper {
        padding: 0 50px;
    }

    div.pic img {
        width: 210px;
    }

    div.content h1 {
        font-size: 30px;
    }

    div.projects {
        padding-bottom: 50px;
    }

    div.photo img {
        width: 160px;
    }

    div.gmap iframe {
        width: 200px;
        height: 150px;
    }
}

@media all and (max-width:640px) {
    .wrapper {
        padding: 0 40px;
    }

    div.pic img {
        width: 180px;
    }

    div.links {
        padding-top: 20px;
        width: 170px;
    }

    div.links img {
        width: 25px;
    }

    div.projects {
        height: 240px;
    }

    div.phone {
        width: 280px;
        height: 150px;
    }

    div.gmap iframe {
        width: 170px;
        height: 130px;
    }

    div.navbar {
        width: 100%;
        height: 60px;
    }

    .navbar ul {
        padding: 10px 10px;
    }

    .navbar1 ul {
        padding: 10px 10px;
    }

    div.con {
        margin-top: 30px;
        width: 100%;
        height: 230;
    }

    div.phone h1 {
        font-size: 20px;
    }

    div.colo {
        gap: 5px;
        padding-top: 25px;
        height: 135px;
    }

    div.logo {
        height: 50px;
    }

    div.about p {
        font-size: 15x;
    }

    div.pic img {
        width: 130px;
    }

    .contact {
        height: 180px;
    }

    a.button1 {
        padding: 13px 14px;
    }

    div.about {
        height: 350px;
    }

    div.navbar1 {
        padding-bottom: 10px;
    }
}

@media all and (max-width:640px) {
    .wrapper {
        padding: 0 30px;
    }

    div.navbar {
        width: 100%;
        height: 50px;
    }

    .navbar ul {
        padding: 8px 8px;
    }

    .navbar ul li a {
        font-size: 15px;
    }

    div.logo {
        height: 40px;
    }

    div.con {
        height: 330px;
    }

    div.con h1 {
        font-size: 25px;
    }

    div.con p {
        font-size: 15px;
    }

    div.links {
        padding-top: 15px;
    }

    div.projects {
        height: 200px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    div.about h1 {
        font-size: 21px;
    }

    div.about p {
        font-size: 14px;
    }

    div.colo {
        padding-top: 16px;
    }

    div.contact {
        gap: 10px;
        height: 150px;
    }

    div.phone h1 {
        height: 20px;
        padding-top: 0px;
        font-size: 13px;
    }

    div.phone p {
        font-size: 12px;
        gap: 9px;
    }

    a.mail {
        font-size: 12px;
    }

    div.gmap iframe {
        width: 170px;
        height: 110px;
    }

    div.navbar1 {
        width: 100%;
        height: 50px;
    }

    .navbar1 ul li a {
        font-size: 14px;
    }
}

@media all and (max-width:360px) {
    div.logo {
        padding-top: 30px;
    }

    .navbar ul{
        gap:10px; 
        justify-content: center;
        width: 180px;
    }

    ul.navbar li a {
        font-size: 12px;
    }

    div.con {
        height: 300px;
    }

    div.con p {
        font-size: 12px;
    }

    div.pic img {
        width: 120px;
    }

    div.projects {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .pro1 p {
        font-size: 13px;
    }

    div.about {
        padding-bottom: 30px;
    }

    div.about h1 {
        font-size: 17px;
    }

    div.about p {
        font-size: 13px;
    }

    div.photo {
        width: 130px;
        height: 200px;
    }

    div.photo img {
        width: 130px;
    }

    div.colo {
        padding-top: 10px;
        height: 125px;
    }

    div.colo b {
        font-size: 12px;
    }

    a.button1 {
        padding: 8px 8px;
    }

    div.contact {
        gap: 10px;
        height: 300px;
        flex-direction: column;
        padding-bottom: 20px;
    }

    div.phone {
        width: 250px;
        padding-left: 30px;
    }

    div.gmap {
        padding-left: 30px;
        width: 150px;
    }

    .navbar1 ul {
        height: 20px;
    }

    .navbar1 ul li {
        padding: 4px 4px;
    }

    .navbar1 ul li a {
        font-size: 13px;
    }
}